<div style="background-color: black; min-height: 100vh; display: flex; justify-content: center; align-items: center; padding: 20px;">
  <div class="form-container">
    <h2 style="text-align: center;">Agende seu horário</h2>

    <mat-form-field style="width: 100%;">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="nome" />
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Procedimento</mat-label>
      <mat-select [(ngModel)]="procedimentoSelecionado" (selectionChange)="atualizarHorarios(procedimentoSelecionado)">
        <mat-option *ngFor="let proc of procedimentos" [value]="proc">
          {{ proc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="valorSelecionado" style="margin-top: 10px;">
      <strong>Valor:</strong> R$ {{ valorSelecionado }}
    </div>

    <mat-form-field style="width: 100%;">
      <mat-label>Horário</mat-label>
      <mat-select [(ngModel)]="horaSelecionada">
        <mat-option *ngFor="let hora of horariosDisponiveis" [value]="hora">
          {{ hora }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="linkWhatsApp" style="margin-top: 20px; text-align: center;">
      <a [href]="linkWhatsApp" target="_blank">
        <button mat-raised-button class="custom-button">Agendar via WhatsApp</button>
      </a>
    </div>

    <!-- Novo botão para salvar agendamento -->
    <div style="text-align: center; margin-top: 20px;">
      <button mat-raised-button color="accent" (click)="salvarAgendamento()">Salvar Agendamento</button>
    </div>
  </div>
</div>
